@font-face {
  font-family: "DasModern";
  src: url("Fonts/DasModern/DasModern.ttf.woff") format("woff"),
    url("Fonts/DasModern/DasModern.ttf.svg#DasModern") format("svg"),
    url("Fonts/DasModern/DasModern.ttf.eot"),
    url("Fonts/DasModern/DasModern.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/* Background (where the gators live) */
#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}



header {
  display: flex;
  justify-content: flex-end;
  gap: 1vw;
  padding: 1.5vw;
}

main {
  font-family: "DasModern";
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1vw;
  flex-shrink: 10;
}

span::before {
  display: inline-block;
  text-align: center;
  width: max-content;
  content: "twenty four";
  animation: animate infinite 30s;

  background: #ffe608d2;
  border: solid 1px #c7beb6;

  border-radius: 5px;

  box-shadow: 0 0 3px #ccc;
}

/* objects */
.gator {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel {
  /* Album image size */
  width: 40vw;
  height: 40vw;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5vw;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.github {
  align-self: center;
}

/* Keyframes */
@keyframes animate {
  0% {
    content: "twenty four";
  }

  4% {
    content: "thrash metal";
  }

  8% {
    content: "jazz";
  }
  12% {
    content: "psych rock";
  }
  16% {
    content: "synth pop";
  }
  20% {
    content: "prog rock";
  }
  24% {
    content: "acoustic";
  }
  28% {
    content: "surf rock";
  }
  32% {
    content: "spaghetti western audiobook";
  }
  36% {
    content: "infinitely-looping";
  }
  40% {
    content: "microtonal";
  }
  44% {
    content: "jazz fusion";
  }
  48% {
    content: "boogie";
  }
  52% {
    content: "surf rock";
  }
  56% {
    content: "alternative";
  }
  60% {
    content: "Psychadellic";
  }
  64% {
    content: "doom metal";
  }
  68% {
    content: "techno rave";
  }
  72% {
    content: "rap";
  }
  76% {
    content: "jam";
  }
  80% {
    content: "indie";
  }
  84% {
    content: "progressive metal";
  }
  88% {
    content: "gonzoid hip-hop";
  }
  92% {
    content: "turkish Psychedelia";
  }
  96% {
    content: "acid rock";
  }
}

@keyframes animateGator {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(100%);
  }
}

/* animations */
.gator1 {
  width: auto;
  height: 5vw;
  animation: animateGator 40s linear infinite;
}

.gator2 {
  width: auto;
  height: 10vw;
  animation: animateGator 20s linear infinite;
}

.gator3 {
  width: auto;
  height: 7.5vw;
  animation: animateGator 30s linear infinite;
}

.gator4 {
  width: auto;
  height: 9vw;
  animation: animateGator 18s linear infinite;
}

.gator5 {
  width: auto;
  height: 8.25vw;
  animation: animateGator 25s linear infinite;
}

/* @media (max-width: 768px) {
  .btn {
    padding: 2px 4px;
    font-size: 80%;
    line-height: 1;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn {
    padding: 4px 9px;
    font-size: 90%;
    line-height: 1.2;
  }
} */
