@font-face {
  font-family: "DasModern";
  src: url("Fonts/DasModern/DasModern.ttf.woff") format("woff"),
    url("Fonts/DasModern/DasModern.ttf.svg#DasModern") format("svg"),
    url("Fonts/DasModern/DasModern.ttf.eot"),
    url("Fonts/DasModern/DasModern.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #FFEA00; 
}

/* popup overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}

/* popup */
.popupCard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Adjust the spacing between form elements */
}

#loginForm .form-group {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  gap: 5px; 
}

#loginForm .form-buttons {
  margin-bottom: 5px;
}


/* For the Successfully Logged Out Popup */
#successLogoutCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Adjust the spacing between elements */
}

#successLogoutCard .btn {
  margin-top: 10px; /* Add spacing below the button */
}

/* Background (where the gators live) */
#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}


   .navbar {
    background-color: #4400FF;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .navbar-brand {
    font-family: DasModern;
    color: white;
  }

main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
  justify-content: space-between;
}

.btn-warning {
  background-color: #5739aa;
  color:white;
}

.btn-info {
  background-color: #4400FF;
  color: white;
}

.animated-word::before {
  display: inline-block;
  text-align: center;
  width: max-content;
  content: "twenty four";
  animation: animate infinite 25s;
}

/* objects */
.gator {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.accordion {
  width: 60vw;
}

.accordion .card {
  /* width: vw; */
  align-items: center;
}

.img-fluid {
  width: 3em;
  height: auto;
}

#album-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#approval-rating {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

.carousel {
  /* Album image size */
  width: 40vw;
  height: 40vw;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5vw;
}

.break {
  flex-basis: 100%;
  height: 0;
}


section {
  width: 100%;
}
.micro-slider {
  height: 40vw;
  margin: 4vw;
  position: relative;
  width: 100%;
}
.micro-slider.fullwidth {
  height: 40vw;
  /* margin: 64px 0; */
}
.micro-slider.fullwidth .slider-item {
  height: 40vw;
  width: 100%
}
.slider-wrapper {
  width: 100%;
  height: 50vw;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 0 50%;
}
.slider-item {
  background: #FFF;
  box-shadow: 0 1px 3px rgba(0,0,0,.06), 0 1px 2px rgba(0,0,0,.12);
  color: #FFF;
  display: none;
  height: 300px; 
  width: 300px; 
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
}

.slider-item img {
  max-width: 100%;
  max-height: 100%;
}




/* Keyframes */
@keyframes animate {
  0% {
    content: "twenty four";
  }
  4% {
    content: "thrash metal";
  }
  8% {
    content: "jazz";
  }
  12% {
    content: "psych rock";
  }
  16% {
    content: "synth pop";
  }
  20% {
    content: "prog rock";
  }
  24% {
    content: "acoustic";
  }
  28% {
    content: "surf rock";
  }
  32% {
    content: "spaghetti western audiobook";
  }
  36% {
    content: "infinitely-looping";
  }
  40% {
    content: "microtonal";
  }
  44% {
    content: "jazz fusion";
  }
  48% {
    content: "boogie";
  }
  52% {
    content: "surf rock";
  }
  56% {
    content: "alternative";
  }
  60% {
    content: "psychadellic";
  }
  64% {
    content: "doom metal";
  }
  68% {
    content: "techno rave";
  }
  72% {
    content: "rap";
  }
  76% {
    content: "jam";
  }
  80% {
    content: "indie";
  }
  84% {
    content: "progressive metal";
  }
  88% {
    content: "gonzoid hip-hop";
  }
  92% {
    content: "turkish Psychedelia";
  }
  96% {
    content: "acid rock";
  }
}

@keyframes animateGator {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(100%);
  }
}

/* animations */
.gator1 {
  width: auto;
  height: 5vw;
  animation: animateGator 40s linear infinite;
}

.gator2 {
  width: auto;
  height: 10vw;
  animation: animateGator 20s linear infinite;
}

.gator3 {
  width: auto;
  height: 7.5vw;
  animation: animateGator 30s linear infinite;
}

.gator4 {
  width: auto;
  height: 9vw;
  animation: animateGator 18s linear infinite;
}

.gator5 {
  width: auto;
  height: 8.25vw;
  animation: animateGator 25s linear infinite;
}

/* @media (max-width: 768px) {
  .btn {
    padding: 2px 4px;
    font-size: 80%;
    line-height: 1;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn {
    padding: 4px 9px;
    font-size: 90%;
    line-height: 1.2;
  }
} */
